section {
  background-color: rgba(255, 255, 255, 0.997);
  margin: 10px;
  padding: 8px 20px;
  border-radius: 6px;
  box-shadow: 0 10px 15px rgba(57, 57, 57, 0.1);
}
.Search input {
  display: block;
  margin: 0px auto;
  width: 80%;
  border-radius: 6px;
  padding: 10px 10px;
  border: 1px solid #ddd;
}
.Search {
  background-color: #7098da;
  padding: 20px 30px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

img {
  margin: 20px auto;
}

.Question {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
